<div class="statsBanner">
    <h1>INDIA’S MOST LOVED CODING COMMUNITY ❤️</h1>

    <div class="listOfCards">
        <div class="card">
            <img src="/assets/stats_happy.png" alt="">
            <p>3,000,000+</p>
            <p>Happy Learners</p>
        </div>
        <div class="card">
            <img src="/assets/stats_happy.png" alt="">
            <p>3,000,000+</p>
            <p>Happy Learners</p>
        </div>
        <div class="card">
            <img src="/assets/stats_happy.png" alt="">
            <p>3,000,000+</p>
            <p>Happy Learners</p>
        </div>
    </div>
</div>