<div class="statsBanner">
    <h1>INDIA’S MOST LOVED CODING COMMUNITY ❤️</h1>

    <div #listOfCards class="listOfCards">
        <div class="card">
            <img src="/assets/stats_happy.png" alt="">
            <p>3,000,000+</p>
            <p>Happy Learners</p>
        </div>
        <div class="card">
            <img src="/assets/stats_views.png" alt="">
            <p>3 Crore +</p>
            <p>Monthly Views</p>
        </div>
        <div class="card">
            <img src="/assets/stats_monthly.png" alt="">
            <p>200,000+</p>
            <p>New Monthly Subscribers</p>
        </div>
    </div>
</div>