<div class="heroSection">

    <div class="navbar">
        <div>
            <h1>APNA <span class="apnatrade">COLLEGE</span></h1>
        </div>

        <div class="navbar__options">
            <p>Home</p>
            <p>Notes</p>
            <p>My Courses</p>
            <p>Sign Out</p>
        </div>
    </div>

    <div class="heroContent">
        <div class="heroContent__display">
            <div>

                <h1>Learn Coding By Top Professionals</h1>
                <p>"We make programming simple to understand"</p>
            </div>

            <img src="/assets/landing_illustration.svg" alt="">


        </div>

        <div class="centerThis">

            <button #btnAlpha class="CTC">
                Alpha Batch 3.0
            </button>
        </div>

        <div class="centerThis">
            <div class="animationElements">
                <svg width="66" height="41" viewBox="0 0 66 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="9.69202" y1="12.3803" x2="34.1156" y2="30.9718" stroke="white" stroke-width="11"
                        stroke-linecap="round" />
                    <line x1="60.2566" y1="12.6985" x2="36.9722" y2="34.2016" stroke="white" stroke-width="10"
                        stroke-linecap="round" />
                </svg>

                <svg width="66" height="41" viewBox="0 0 66 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="9.69202" y1="12.3803" x2="34.1156" y2="30.9718" stroke="white" stroke-width="11"
                        stroke-linecap="round" />
                    <line x1="60.2566" y1="12.6985" x2="36.9722" y2="34.2016" stroke="white" stroke-width="10"
                        stroke-linecap="round" />
                </svg>

                <svg width="66" height="41" viewBox="0 0 66 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="9.69202" y1="12.3803" x2="34.1156" y2="30.9718" stroke="white" stroke-width="11"
                        stroke-linecap="round" />
                    <line x1="60.2566" y1="12.6985" x2="36.9722" y2="34.2016" stroke="white" stroke-width="10"
                        stroke-linecap="round" />
                </svg>

            </div>
        </div>
    </div>

</div>