.our-student-page {
    background: linear-gradient(89.94deg, #0F0C29 54.83%, rgba(17, 15, 46, 0.82244) 119.74%, rgba(29, 29, 71, 0) 420.37%);
    width: 100vw;
    padding-bottom: 5em;

    & h2 {
        color: white;
        font-size: 2.2em;
        margin: 0 auto;
        width: fit-content;
    }
}

.listOfStories {
    display: flex;
    width: 80%;
    gap: 5em;
    overflow-x: scroll;
    padding: 3em;
}

.listOfStories::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


.listOfStories::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    width: 10px;
}

.listOfStories::-webkit-scrollbar-track {
    background: transparent;
}

.story {
    height: 60vh;
    min-width: 30%;
    width: 30%;
    border-radius: 20px;
    background: #132952;
    transform: scale(0.8);
    opacity: 0.7;
    transition: all 1.6s;

    &__avatar {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    &>h3 {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 2em;
        margin-top: 0.8em;
    }

    &>p {
        color: white;
        text-align: center;
        padding: 0.7em;
        font-size: 1.4em;
    }
}

.story_show {
    opacity: 1;
    transform: scale(1);
}

.our-student-page>h2 {
    width: fit-content;
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
}

.CTC {
    background: #003379;
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    font-family: "Poppins";
    font-size: 1.5em;
    width: 350px;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.CTC:hover {
    transform: scale(1.05);
}