<div class="our-student-page">


    <h2>Our Students ❤️</h2>

    <div class="centerThis">

        <div class="listOfStories">

            <div class="story">

                <div class="story__avatar">
                    <img src="/assets/person.png" alt="">
                </div>
                <h3>Ashish Kumar Verma</h3>

                <p>
                    "For the role that Alpha played in my life, I would rate it 10/10. I wish I could have done it
                    sooner. Every topic was taught so in-depth from basics to advanced."

                </p>

            </div>
            <div class="story">

                <div class="story__avatar">
                    <img src="/assets/person.png" alt="">
                </div>
                <h3>Ashish Kumar Verma</h3>

                <p>
                    "For the role that Alpha played in my life, I would rate it 10/10. I wish I could have done it
                    sooner. Every topic was taught so in-depth from basics to advanced."

                </p>

            </div>
            <div class="story">

                <div class="story__avatar">
                    <img src="/assets/person.png" alt="">
                </div>
                <h3>Ashish Kumar Verma</h3>

                <p>
                    "For the role that Alpha played in my life, I would rate it 10/10. I wish I could have done it
                    sooner. Every topic was taught so in-depth from basics to advanced."

                </p>

            </div>
            <div class="story">

                <div class="story__avatar">
                    <img src="/assets/person.png" alt="">
                </div>
                <h3>Ashish Kumar Verma</h3>

                <p>
                    "For the role that Alpha played in my life, I would rate it 10/10. I wish I could have done it
                    sooner. Every topic was taught so in-depth from basics to advanced."

                </p>

            </div>
            <div class="story">

                <div class="story__avatar">
                    <img src="/assets/person.png" alt="">
                </div>
                <h3>Ashish Kumar Verma</h3>

                <p>
                    "For the role that Alpha played in my life, I would rate it 10/10. I wish I could have done it
                    sooner. Every topic was taught so in-depth from basics to advanced."

                </p>

            </div>
            <div class="story">

                <div class="story__avatar">
                    <img src="/assets/person.png" alt="">
                </div>
                <h3>Ashish Kumar Verma</h3>

                <p>
                    "For the role that Alpha played in my life, I would rate it 10/10. I wish I could have done it
                    sooner. Every topic was taught so in-depth from basics to advanced."

                </p>

            </div>
            <div class="story">

                <div class="story__avatar">
                    <img src="/assets/person.png" alt="">
                </div>
                <h3>Ashish Kumar Verma</h3>

                <p>
                    "For the role that Alpha played in my life, I would rate it 10/10. I wish I could have done it
                    sooner. Every topic was taught so in-depth from basics to advanced."

                </p>

            </div>

        </div>
    </div>


    <h2>JOIN ALPHA BATCH 3.0</h2>
    <div class="centerThis">

        <button class="CTC">
            Explore >>>
        </button>
    </div>
</div>