<div class="container">
    <h2>WE ARE ON A MISSION, JOIN US ON</h2>
    <div class="centerThis"><img src="/assets/missionIllus.png" alt=""></div>

    <div class="socialHandles">

        <div class="singleHandle">
            <img src="/assets/youtube.png" alt="">
            <p>APNA COLLEGE</p>
        </div>


        <div class="singleHandle">
            <img src="/assets/instagram.png" alt="">
            
            <p>AMAN DHATTARWAL</p>
        </div>



        <div class="singleHandle">
            <img src="/assets/telegram.png" alt="">
            
            <p>APNA COLLEGE</p>
        </div>

    </div>
</div>