.container {
    background: #001C45;
    padding-top: 1.4em;
    padding-bottom: 1.6em;

    & > h2 {
        width: fit-content;
        margin: 0 auto;
        color: white;
        font-size: 1.8em;
        margin-bottom: 1.3em;
    }

    & > img {
        margin-top: 1em;
    }

}


.socialHandles {
    display: flex;
    color: white;
    margin-top: 2em;
    justify-content: space-between;
    padding-inline: 10%;
    font-weight: 400;
    font-size: 1.7em;

}


.singleHandle {
    display: flex;
    align-items: center;
    gap: 0.7em;
}

.singleHandle > img {
    width: 50px;
    height: 50px;
}
